#navbar.navbar .navbar-nav .nav-link{
    color: #343456;
    background-color: #C69036;
    margin-left: 12px;
}
#navbar.navbar  .btn-sign-in {
    background-color: #343456;
    color: white;
}
#navbar{
    border-bottom: 5px solid #C69036;
}
#navbar.navbar  .fa-moon{
color: #343456;
}
#navbar.navbar .navbar-brand{
    color: #343456;
}
.btn-custom{
    background-color: #343456;
    color: white;
}
.btn-custom-2{
    background-color: #C69036;
    color: white; 
}

.search-bar{
    background-color: #C69036 !important;
    color: aliceblue !important;
}

.about-us-p p,
  .about-us {
    color: #C69036;
    text-decoration: solid;
    text-align: center;
  }
  .about-us-p span,
  .about-us-heading span,
  .about-us-heading span {
    color: #343456;
  }
.headig-break{
    width: 20%;
    background-color: #C69036;
    height: 5px;
    border: 5px solid #C69036;
}
.mandgers .mandger,
.mandgers .container{
    background-color: #ffa20056;
}
.angles-left{
    color: #c69136e8;
}
 .our-vesion-container {
    background-color: #C69036;
    color: #fff;
    padding: 5px 5px;
    transform: translateY(10%);
    opacity: 70%;
}
.our-vesion-container .our-version-text blockquote  {
    font-size: 70px;
    color: #343456;
    text-decoration: solid;
    font-style: italic;
    font-weight: bolder;
}
.footer .footer-heading {
    color: #f3f3f3;
}
.footer{
    background-color: #343456;
}
.oringe{
    color: #C69036;
}
.email{
    width: 40%;
}
.headig-break-2{
    background-color: #3e3e3e;
    border: 5px #544d4d dashed;
}
.footer-copyright{
    background-color: #C69036;
    color: #343456;
} 
.custom-pagination li a{
    border: 1px solid #ebebeb;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    margin-right: 3px;
    margin-left: 3px;
    color: #c2c2c2;
    text-align: center;
    transition: all .5s ease;
    text-decoration: none;
 }
 .custom-pagination li.active a{
    background-color: #343456;
    border-color: #343456;
    color: #FFF;
 }
 .custom-pagination li a:hover,
 .custom-pagination li a:active,
 .custom-pagination li a:focus{
    color: #343456;
    border-color: #ab7731;
 }
 .profile-card {
    background-color: #ab7731;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }

  .sidebar {
    position: fixed;
    z-index: 4;
    right: -17rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background-color:#ffffff84;
    overflow: hidden;
    padding-bottom: 70px;
    float: right !important;
}
.sidebar:hover {
    overflow-y: scroll;
}

.sidebar .purple {
    color: #ffffff;
    background-color: transparent;
}



.sidebar .list-group-item:hover  {
    color: #fff;
}

.sidebar .list-group-item {
    width: 17rem;
    background-color: #343456;
    color: #adb5bd;
}

.school-actives .card-block p {
    font-size: 15px;
    line-height: 21px;
    color: #919191;
    opacity: 0;
    transition: all 1.5s ease;
  }