#navbar.navbar .navbar-nav .nav-link{
    color: #343456;
    background-color: #C69036;
    margin-left: 12px;
}
#navbar.navbar  .btn-sign-in {
    background-color: #343456;
    color: white;
}
#navbar{
    border-bottom: 5px solid #C69036;
}
#navbar.navbar  .fa-moon{
color: #343456;
}
#navbar.navbar .navbar-brand{
    color: #343456;
}
.btn-custom{
    background-color: #343456;
    color: white;
}
.btn-custom-2{
    background-color: #C69036;
    color: white; 
}

.search-bar{
    background-color: #C69036 !important;
    color: aliceblue !important;
}

.about-us-p p,
  .about-us {
    color: #C69036;
    text-decoration: solid;
    text-align: center;
  }
  .about-us-p span,
  .about-us-heading span,
  .about-us-heading span {
    color: #343456;
  }
.headig-break{
    width: 20%;
    background-color: #C69036;
    height: 5px;
    border: 5px solid #C69036;
}
.mandgers .mandger,
.mandgers .container{
    background-color: #ffa20056;
}
.angles-left{
    color: #c69136e8;
}
 .our-vesion-container {
    background-color: #C69036;
    color: #fff;
    padding: 5px 5px;
    transform: translateY(10%);
    opacity: 70%;
}
.our-vesion-container .our-version-text blockquote  {
    font-size: 70px;
    color: #343456;
    text-decoration: solid;
    font-style: italic;
    font-weight: bolder;
}
.footer .footer-heading {
    color: #f3f3f3;
}
.footer{
    background-color: #343456;
}
.oringe{
    color: #C69036;
}
.email{
    width: 40%;
}
.headig-break-2{
    background-color: #3e3e3e;
    border: 5px #544d4d dashed;
}
.footer-copyright{
    background-color: #C69036;
    color: #343456;
} 